{% extends 'base.html.twig' %}

{% block title %}Edit Posting{% endblock %}

{% block body %}
    <h2>Edit Posting</h2>

    {{ include('posting/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('app_userpost_index') }}">Back to home</a> #}

    {{ include('userpost/_delete_form.html.twig') }}
{% endblock %}
